.header__logo {
  margin: 0;
  padding: 0;
  width: 19.659%;
  max-height: 33px;
}

@media screen and (max-width: 769px) {
  .header__logo {
    width: 40%;
    max-height: 40px;
  }
}

@media screen and (max-width: 321px) {
  .header__logo {
    width: 39.375%;
    max-height: 56px;
    margin: 0 52.18% 32px 8.43%;
  }
}
