.gallery {
  display: inline-grid;
  width: 68.75%;

  border-radius: 10px;
  margin: 0 0 68px 0;
  display: grid;
  box-sizing: border-box;
  border: dashed 1px blue;

  grid-template-columns: repeat(auto-fill, 280px);

  column-gap: 17px;
  row-gap: 20px;
}
