.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  width: 68.9069%;
  gap: 21px 18px;
  border-radius: 10px;
  margin: 0 0 68px 0;
}

@media screen and (max-width: 321px) {
  .gallery {
    width: 88.125%;
  }
}
