.profile__avatar-edit-button {
  border: none;
  margin: auto;
  min-width: 120px;
  min-height: 120px;
  opacity: 0;
}

.profile__avatar-edit-button:hover {
  opacity: 1;
  background: url("../../../images/Vectorpencil.svg") no-repeat center center,
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
