.popup__container_function-delete-card-popup {
  background-color: #ffffff;
  min-height: min-content;
  max-height: 181px;
}

@media screen and (max-width: 510px) {
  .popup__container_function-delete-card-popup {
    min-width: unset;
  }
}
