.profile__avatar-container {
  min-width: 120px;
  min-height: 120px;
  margin: 0 3.4% 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 521px) and (min-width: 321px) {
  .profile__avatar-container {
    min-width: 60px;
    min-height: 60px;
  }
}

@media screen and (max-width: 321px) {
  .profile__avatar-container {
    width: 42.5531%;
    margin: 0 0 30px 0;
  }
}
