.form__input {
  width: 100%;
  padding: 0 0 13.26px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #000000;
  outline-color: rgb(79, 113, 177);
}

@media screen and (max-width: 321px) {
  .form__input {
    width: 84.39%;
    padding: 0 0 9px 0;
  }
}
