.form_newplace {
  display: flex;
  min-width: 358px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 510px) {
  .form_newplace {
    min-width: unset;
    width: 80.17%;
  }
}

@media screen and (max-width: 321px) {
  .form_newplace {
    min-width: unset;
    max-width: 238px;
  }
}
