.close-button_for-image {
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

@media screen and (max-width: 803px) {
  .close-button_for-image {
    min-width: 35px;
    min-height: 35x;
    top: -35px;
    right: -35px;
  }
}

@media screen and (max-width: 580px) {
  .close-button_for-image {
    min-width: 30px;
    min-height: 30x;
    top: -30px;
    right: -30px;
  }
}

@media screen and (max-width: 500px) {
  .close-button_for-image {
    min-width: 25px;
    min-height: 25x;
    top: -25px;
    right: -25px;
  }
}

@media screen and (max-width: 321px) {
  .close-button_for-image {
    min-width: 30px;
    min-height: 30x;
    top: -30px;
    right: -30px;
  }
}
