.close-button_for-place {
  border: none;
  min-width: 40.7px;
  min-height: 40.7px;
}

@media screen and (max-width: 580px) {
  .close-button_for-place {
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
  }
}

@media screen and (max-width: 321px) {
  .close-button_for-place {
    min-width: 26px;
    min-height: 26px;
    position: absolute;
    top: -39.23px;
    right: 0px;
  }
}
