.profile__avatar {
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 521px) and (min-width: 321px) {
  .profile__avatar {
    min-width: 60px;
    max-height: 60px;
  }
}
